:root {
  --blue: #7aa2c8;

  /* --sable: #bea684; */
  --sable: #bea684;
  --text-white: #fdfdfd;
  --orange: #f76605;

  --bg-black: black;
  --bg-gray: #2c2c2c;

  --font-title: "Rowdies";
  --font-text: "Roboto Condensed";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: var(--font-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
  /* max-width: 1280px; */
  width: 100%;
  margin: auto;
}
::selection {
  background: var(--orange);
  color: black;
}
/* all pages container details */

.home-container::after,
.connexion-container::after,
.registration-container::after,
.banner-container::after,
.candidate-container::after,
.agency-container::after,
.create-offer-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 119vh;
  width: 100%;
  z-index: -1;
}
/* home background */

/* connexion background */
.connexion-container::after {
  background: url("assets/planet.jpg");
  background-size: cover;
  background-attachment: fixed;
  

}
/* registration background */
.registration-container::after {
  background: url("assets/space-man.jpg");
  background-size: cover;
  background-attachment: fixed;

}
/* create offer background */
.create-offer-container::after {
  background: url("assets/explore.jpg");
  background-size: cover;
  background-attachment: fixed;

}
/* candidate container background */
.candidate-container::after {
  background: url("assets/explore.jpg");
  background-size: cover;
  background-attachment: fixed;

  
}
/* agency container background */
.agency-container::after {
  background: url("assets/explore.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.home-container,
.connexion-container,
.registration-container,
.candidate-container,
.agency-container,
.create-offer-container {
  background: linear-gradient(to bottom, black , transparent, black);
  height: fit-content;
  min-height: 50vh;
  
}
.connexion,
.registration,
.create-offer {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
